*{margin:0px;padding:0px;box-sizing:border-box;}
html{scroll-behavior: smooth;
}
body
{
    background-image:linear-gradient(rgba(0,168,255,0.3),rgba(0,168,255,0.3)),url('../img/signup.jfif');
    background-repeat: no-repeat;
    background-size:100% 100%;
    height:100vh;
    width:100%;
   
}
.singlediv p,p{
    line-height: 1.3rem;
    font-weight:medium;
    margin:10px 0px 0px 0px;
    padding:10px 0px 0px 0px;
    display:flex;
    justify-content: center;
    font-size:0.8rem;
    font-family: 'Gotu', sans-serif;
    color:#fff;

}
.singlediv h4,h1{
    text-transform:uppercase;
    padding:10px 0px 0px 0px;
    font-weight: bold;
    margin:10px 0 0 0;
    font-size:1.3rem;
    text-shadow: 2px 2px 1px #fff;
    display:flex;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    background-color:rgba(0,168,255,0.3);
 
}


li{  list-style:none;}

a{text-decoration:none;}
a:hover{text-decoration: none;}
.whole{text-align:center;}
/* ................................................. logo start.............................................................*/
.combi-navlogo .logo{
    font-weight:bold;
    text-transform: uppercase;
    font-family: 'Lemonada', cursive;
    font-size:3rem;
    -ms-transform: skewY(20deg); /* IE 9 */
    transform: skewY(20deg); /* Standard syntax */
    box-shadow:0 0 5px #000;
    text-shadow: 0 0 20px #000;
    margin-left:20px;
}

/*.combi-navlogo .image{
    position: absolute;
    top:50%;
    left:3rem;
}*/


/* ................................................. logo start.............................................................*/

/* ................................................. nav bar start.............................................................*/
.navbar-nav{
    font-weight:bold;
    text-transform: uppercase;
    font-style:italic;
    text-shadow: 0 0 120px #000;
}
.nav-item:hover{
    border-radius:4px;
    transform: translateY(-20px);
    box-shadow:0 0 20px #000;
    font-family: 'Oswald', sans-serif;
    font-weight:bold;
    
}
.dropdown-item{
    background-color:rgba(0,168,255,0.3);
    background-color:rgba(0,168,255,0.3);
}
.dropdown-item:hover{
    font-size:1rem;
    transition: 1s ease;
    background:linear-gradient(#000,#fff);
}

.dropdown-item:hover::before{
    width:100%
}
/* ................................................. nav bar end.............................................................*/

/* ................................................. signup dialog-box start.............................................................*/
::placeholder{
    text-transform: uppercase;
    font-weight:bold;
    text-align:center;
    font-size:1rem;
}
.contact h4{
    background-color: #5a49f0;
}
.contact input{
    padding:15px;
    color:white;
}
.contact input:hover,.contact textarea:hover{
    transform:translateY(-10px);
    background-color:rgba(0,168,255,0.3);
    box-shadow: 0 0 30px #fff;
    color:white;
    font-weight:bold;
}
.contact{
    margin-top:50px;
}

.signbutton{
    display:flex;
    margin:50px!important;
  
    
}
.btn1,.btn2{
    border:2px solid white;
    width:20%;
    text-transform: uppercase;
    font-size:1rem;
    font-weight: bold;
    padding:2px 2px;
    border-radius:10px;
}
.btn1:hover,.btn2:hover{
    transform:translateY(-10px);
    border-radius: 15px;
    font-size: 1.5rem;
    box-shadow: 0 0 40px #000;
    background-color:#00aaff;
}
/* ................................................. signup dialog-box end.............................................................*/

/* ................................................. footer start....................................................*/

.footer{
    background-image: linear-gradient(to right, rgba(255,0,0,0),rgba(0,168,255,0.3));
    padding:10px;
  /*  display:flex;
    justify-content: center;
     
*/
}
.singlediv{
    padding:10px ;

}
.singlediv li{
    list-style:none;
    display:flex;
    justify-content:center;
    transform:translateY(-10px);
    line-height:2.5rem;
    color:#fff;
}
.singlediv a{color:white;}
.singlediv a:hover{
    transform:translateY(-10px);
    border-radius:10px;
    box-shadow: 0 0 20px 0 #000;
}
#copyright{
    font-weight:bold;
    font-style: italic;
    font-size:0.7rem;
    text-transform: uppercase;
    padding-top:2rem;
    display:flex;
    justify-content: center;
    text-align:center;
}

#mybt{
    display:none; 
    position:fixed;
    bottom:20px;
    right:30px;
    z-index: 99;
    border:none;
    color:#000;
/*    background:#13c4f0;
  */  border-radius:5px;
}
#mybt:hover{
    background:#606060;

}
/* ................................................. footer end....................................................*/

/* .................................................modal start..............................................*/
.modal{
    border-radius:100px!important;
}
.modal-content{
    width:70%!important;
    height:80vh!important;
    display:flex;
    justify-content: center;
    background-image:url('../img/head.png');
    background-repeat:none;
    background-size:100% 100%;
}
.modal-header h4{
    font-size:2em;
    font-family:'Oswald', sans-serif;
    color:#fff;
    font-weight:bold;
    font-style: italic;
}
.modal-header{
    background-image: linear-gradient(to left, #00aaff , #fff);
    
}

.modal-body{
    background-color:rgba(224, 245, 247, 0.863);   
}
.modal-body input{
    width:70%;
    padding:2rem;
    margin:2rem;
    border-radius: 0.8rem!important;
}
.modal-body input:hover{
    transform:translateY(-10px);
    background-color:#b8d6d6;
    box-shadow: 0 0 30px #fff;
}
.modal-body a,.modal-body button{
    display:flex;
    justify-content: center;
    padding:5px 0px 10px 0px !important;
    width:10rem;
    box-shadow: 0px 0px 50px #fff;
    border-radius: 10px;
    font-weight:bold;
    transition: width 2s;
    transition: background-color 2s;
}
.modal-body a:hover,.modal-body button:hover{
    transform:translateY(-10px);
    border-radius:10px;
    box-shadow: 0 0 20px 0 #000;
}
.button{
    display:flex;
    margin:50px!important;
}

.modal-footer{

}

/* .................................................modal end....................................................*/

/* .................................................validation start....................................................*/
.check{
    color:red;
    margin:10px;
    font-size:1.5rem;
    font-weight:bold;
    text-transform:uppercase;
    display: flex;
    justify-content: center;
}
/* .................................................validation end....................................................*/


/* .................................................media query start.............................................................*/
@media(max-width : 780px){
   .heading .navbar{float:right;}
   .nav-item{margin:5px;transform: translateY(-5px)}
   .nav-item,.dropdown{text-align:center !important;}
   .card a{display:flex;justify-content: center;align-items:center;}
   .singlediv{padding:10px 10px 10px 10px;}
   .dropdown-item:hover{background-color:rgb(115, 185, 130);opacity:0.5;color:#000;font-size:1.3rem;z-index:-1;}
   .modal-content{width:100%!important;height:100vh!important;}

}

@media(max-width : 568px){
    body{width:100%;}
    .heading .navbar{float:right;}
    .nav-item{margin:5px;transform: translateY(-5px)}
    .btn1,.btn2{width:60%;display:block;margin:5px;}
    .combi-navlogo .logo{margin:0px;font-size:2rem;}
    .modal-header{font-size:1rem;}
    .check{font-size:1rem;}
    span{width:90%;}
    
 }
/* ................................................. nmedia query end.............................................................*/
